
$c-grey-light-1: #f7f7f7;
$c-grey-light-2: #eee;

$c-grey-dark-1: #777;
$c-grey-dark-2: #999;
$c-grey-dark-3: #333;

$c-white: #fff;
$c-black: #000;

$c-p:#7EA7BE;
$c-p1: rgb(53, 118, 155);
$c-p2:rgb(28, 82, 114);
$c-p3:#193647;


$bg-primary:#f7f7f7;




// GRID
$grid-width: 124rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 8rem;